<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keita.nakamura.mapper.CompanyMapper">
    <select id="findAll" resultType="com.keita.nakamura.entity.Company">
        SELECT * FROM companies WHERE deleted is NULL;
    </select>
    <select id="findBySearch" resultType="com.keita.nakamura.entity.Company">
        SELECT * FROM companies
        <where>
            <trim prefix=" (" prefixOverrides="OR" suffix=") ">
                <if test="name != null and name != ''">
                    OR name LIKE '%${name}%'
                </if>
                <if test="representative != null and representative != ''">
                    OR representative LIKE '%${representative}%'
                </if>
                <if test="prefectureCode != null and prefectureCode != ''">
                    OR prefecture_code = #{prefectureCode}
                </if>
            </trim>
            AND deleted is NULL
        </where>
        ;
    </select>
    <select id="findById" resultType="com.keita.nakamura.entity.Company">
        SELECT * FROM companies WHERE id = #{id} AND deleted is NULL;
    </select>
    <insert id="insert">
        INSERT INTO companies (user_id, name, representative, phone_number, postal_code, prefecture_code, address, mail_address, created, modified)
        VALUES (1, #{name}, #{representative}, #{phoneNumber}, #{postalCode}, #{prefectureCode}, #{address}, #{mailAddress}, NOW(), NOW());
    </insert>
    <update id="update">
        UPDATE companies
        SET name = #{name}, representative = #{representative}, phone_number = #{phoneNumber}, postal_code = #{postalCode}, prefecture_code = #{prefectureCode}, address = #{address}, mail_address = #{mailAddress}, modified = NOW()
        WHERE id = #{id};
    </update>
    <delete id="delete">
        UPDATE companies SET deleted = NOW() WHERE id = #{id};
    </delete>
</mapper>
