<!-- Main Sidebar Container -->
<aside th:fragment="side_menu" class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/companies/index" class="brand-link">
    <span class="brand-text font-weight-light">　会社管理システム</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/companies/index" class="nav-link">
            <i class="nav-icon"></i>
            <p>
              会社一覧
              <i class="right"></i>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/companies/create" class="nav-link">
            <i class="nav-icon"></i>
            <p>
              会社追加
              <i class="right"></i>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
