.dropdown-menu {
  min-width: 5rem;
}

.block {
  display: block;
}

.has-error {
  width: 100%;
  margin-top: .25rem;
  font-size: 90%;
  color: #dc3545;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  vertical-align: middle;
}
