.dropdown-menu {
  min-width: 5rem;
}

.block {
  display: block;
}

.has-error {
  width: 100%;
  margin-top: .25rem;
  font-size: 90%;
  color: #dc3545;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  vertical-align: middle;
}

.alert-danger {
  margin-top: 1rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger p {
	margin-bottom: 0;
}

.logout {
  display: block;
}